<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Theme>
            <version>1.0.0</version>
        </Edge_Theme>
    </modules>
    <frontend>
        <layout>
            <updates>
                <edge>
                    <file>edge_theme.xml</file>
                </edge>
            </updates>
        </layout>
    </frontend>
</config>